body {
    background-color: khaki;
    text-align: center;
}
section {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div#res {
    color: blue;
    font-size: xx-large;
}